## .NET / Visual Studio
bin/
obj/
.vs/
*.user
*.suo
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.psess
*.vsp
*.vspx
*.sap
packages/
*.nupkg
project.lock.json
project.fragment.lock.json
artifacts/

## NuGet
*.nuget.props
*.nuget.targets

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

## Logs
*.log
