USE [UretimV3]
GO
/****** Object:  StoredProcedure [dbo].[Uretim_SonrakiIstasyonaGonder]    Script Date: 29.01.2025 16:55:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
      ALTER   PROCEDURE [dbo].[Uretim_SonrakiIstasyonaGonder] @urid1 UNIQUEIDENTIFIER
AS
BEGIN
  SET NOCOUNT ON;
  DECLARE @planlananMiktar FLOAT
         ,@islemdekiMiktar FLOAT
         ,@uretimMiktari FLOAT
         ,@fireMiktari FLOAT
         ,@iptalMiktari FLOAT
         ,@kalanMiktar FLOAT
         ,@urId UNIQUEIDENTIFIER
         ,@urOId UNIQUEIDENTIFIER
         ,@urOHId UNIQUEIDENTIFIER
         ,@urOHDId UNIQUEIDENTIFIER
         ,@rcaId UNIQUEIDENTIFIER
         ,@rcoId UNIQUEIDENTIFIER
         ,@sipId UNIQUEIDENTIFIER
         ,@siphId UNIQUEIDENTIFIER
         ,@ur_planlananMiktar FLOAT
         ,@ur_uretimMiktari FLOAT
         ,@ur_fireMiktari FLOAT
         ,@ur_iptalMiktari FLOAT
         ,@uretilecekMiktar FLOAT
         ,@istGrubu varchar(50)
         ,@operasyonKodu varchar(50)
         ,@istasyonKodu varchar(50)
         ,@istasyonAdi varchar(150)
		 ,@onceUretilenMiktari FLOAT;
  SET @urId = @urid1;
  /*  operasyon hareketlerini yoksa olustur  */
  DECLARE curs CURSOR DYNAMIC /*Cursor'a dinamik özellik kazandırıyoruz.*/ SCROLL GLOBAL FOR SELECT
    UROH.PlanlananMiktar
   ,UROH.IslemdekiMiktar
   ,UROH.UretimMiktari
   ,UROH.FireMiktari
   ,UROH.IptalMiktari
   ,UROH.KalanMiktar
   ,COALESCE(UROH.PlanlananMiktar, 0) - COALESCE(UROH.IslemdekiMiktar, 0)
   ,COALESCE(UrMik.PlanlananMiktar, 0)
   ,COALESCE(UrMik.UretimMiktari, 0)
   ,COALESCE(UrMik.FireMiktari, 0)
   ,COALESCE(UrMik.IptalMiktari, 0)
   ,UROH.UrId
   ,UROH.UrOId
   ,UROH.Id
   ,UROH.RcAId
   ,UROH.RcOId
   ,UROH.SipId
   ,UR.IstasyonGrupKodu
   ,URO.OperasyonKodu
   ,GROP.IstasyonKodu
   ,GROP.IstasyonAdi
  FROM UretimOperasyonHareket UROH
  LEFT OUTER JOIN UretimOperasyon URO  ON UROH.UrOId = URO.Id
  LEFT OUTER JOIN UretimEmri UR ON UROH.UrId = UR.Id
  LEFT OUTER JOIN ReceteIstasyonGrupOperasyon GROP ON GROP.GrupKodu = UR.IstasyonGrupKodu AND GROP.OperasyonKodu=URO.OperasyonKodu
  LEFT OUTER JOIN ((SELECT
      UI1.UrOHId
     ,SUM(COALESCE(UI1.PlanlananMiktar, 0)) AS PlanlananMiktar
     ,SUM(COALESCE(UI1.UretimMiktari, 0)) AS UretimMiktari
     ,SUM(COALESCE(UI1.FireMiktari, 0)) AS FireMiktari
     ,SUM(COALESCE(UI1.IptalMiktari, 0)) AS IptalMiktari
    FROM UretimOperasyonHareketDetay UI1
    GROUP BY UI1.UrOHId)) AS UrMik
    ON UrMik.UrOHId = UROH.Id
  LEFT OUTER JOIN ReceteAna RCA
    ON UROH.RcAId = RCA.Id
  WHERE RCA.IstasyonGruplamaKullan = 1
  AND UROH.PlanlananMiktar > 0
  AND UROH.PlanlananMiktar > UROH.IslemdekiMiktar
  AND UROH.UrId = @urId;
  OPEN curs
  /* Sıradaki veri yakalanıyor ve hafızaya alınıyor. O anki veri ' Cursor' tarafından temsil ediliyor ve kolon değerleri ilgili değişkenlere sıralı bir şekilde atanıyor.*/
  FETCH NEXT FROM curs INTO @planlananMiktar, @islemdekiMiktar, @uretimMiktari, @fireMiktari, @iptalMiktari, @kalanMiktar, @uretilecekMiktar, @ur_planlananMiktar,
  @ur_uretimMiktari, @ur_fireMiktari, @ur_iptalMiktari, @urId, @urOId, @urOHId, @rcaId, @rcoId, @sipId,@istGrubu,@operasyonKodu,@istasyonKodu,@istasyonAdi
  /* İşlem başarılı ise @@FETCH_STATUS değişken değeri '0' ise işlem başarılıdır ve bir sonraki kayıt var demektir.*/
  WHILE @@FETCH_STATUS = 0
  BEGIN
   Select @onceUretilenMiktari = coalesce(Sum(coalesce(PlanlananMiktar,0)),0) From UretimOperasyonHareketDetay where UrOHId=@urOHId;
  IF ((@uretilecekMiktar )  > 0)
  BEGIN
    SET @urOHDId = NEWID();

    INSERT INTO UretimOperasyonHareketDetay (Id, Turu, Tarih, PlanlananMiktar, IslemdekiMiktar, UretimMiktari, FireMiktari, IptalMiktari, KayitEden, UrId, UrOId, UrOHId, RcAId, RcOId, SipId)
      SELECT
        @urOHDId
       ,'Acilis'
       ,CURRENT_TIMESTAMP
       ,(@planlananMiktar - @onceUretilenMiktari)
       ,(@planlananMiktar - @onceUretilenMiktari)
       ,0
       ,0
       ,0
       ,'OtomatikKayit'
       ,@urId
       ,@urOId
       ,@urOHId
       ,@rcaId
       ,@rcoId
       ,@sipId;

    
    INSERT INTO UretimIstasyon (IstasyonKodu, IstasyonAdi, PlanlananMiktar, UretimMiktari, FireMiktari, IptalMiktari, BaslangicTarihi,Fason,
                FasonCariKodu, FasonCariUnvani, KayitEden, UrId, UrOId, UrOHId, UrOHDId, RcAId, RcOId, SipId)
      SELECT  
        @istasyonKodu
       ,@istasyonAdi
       ,(@planlananMiktar - @onceUretilenMiktari)
       ,0
       ,0
       ,0
       ,CURRENT_TIMESTAMP
       ,0,'',''
       ,'OtomatikKayit'
       ,@urId
       ,@urOId
       ,@urOHId
       ,@urOHDId
       ,@rcaId
       ,@rcoId
       ,@sipId  ;

    UPDATE UretimOperasyonHareket  SET IslemdekiMiktar = @planlananMiktar  WHERE Id = @urOHId;
  END

  IF (@uretilecekMiktar > 1
    AND @uretilecekMiktar < 0)   /* yedek kasıtlı mantık hatası yapıldı */
  BEGIN
    IF NOT EXISTS (SELECT
          Id
        FROM UretimOperasyonHareketDetay
        WHERE UrOHId = @urOHId)
    BEGIN
      INSERT INTO UretimOperasyonHareketDetay (Turu, Tarih )
        SELECT
          'Acilis'
         ,CURRENT_TIMESTAMP ;
    END
  END

  FETCH NEXT FROM curs INTO @planlananMiktar, @islemdekiMiktar, @uretimMiktari, @fireMiktari, @iptalMiktari, @kalanMiktar, @uretilecekMiktar, @ur_planlananMiktar,
  @ur_uretimMiktari, @ur_fireMiktari, @ur_iptalMiktari, @urId, @urOId, @urOHId, @rcaId, @rcoId, @sipId,@istGrubu,@operasyonKodu,@istasyonKodu,@istasyonAdi
  /* Sıradaki veriye geçilir ve tekrardan cursor üzerinden kolon değerleri ilgili değişkenlere atanır.*/
  END
  CLOSE curs/* Cursor kapatılıyor.*/
  DEALLOCATE curs;/* Ayrılan hafızayı boşaltıyoruz.*/

END


  